{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anécdotas - InclUred</title>
    <link rel="stylesheet" href="{% static 'inclured1/style.css' %}">
</head>
<body>
    <!-- Encabezado con navegación -->
    {% include "./componentes/Header.html" %}

    <!-- Contenido de la página de Anécdotas -->
    <div class="content" id="anecdotas">
        <div class="section-title">Anécdotas</div>
        
        <!-- Descripción de la sección -->
        <div class="text-container">
            <p>Las anécdotas personales de personas con discapacidad son poderosas herramientas de sensibilización y empatía. A continuación, puedes leer o agregar historias que muestran los desafíos, logros y perspectivas de quienes enfrentan alguna discapacidad.</p>
        </div>

        <!-- Formulario para Crear Anécdota -->
        <div class="new-anecdota-container">
            <form action="{% url 'crear_anecdota' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="titulo">Título:</label>
                    <input type="text" id="titulo" name="titulo" placeholder="Escribe el título aquí..." required>
                </div>
                <div class="form-group">
                    <label for="contenido">Contenido:</label>
                    <textarea id="contenido" name="contenido" placeholder="Escribe tu anécdota aquí..." rows="4" required></textarea>
                </div>
                <button type="submit" class="btn-submit">Publicar</button>
            </form>
        </div>

        <!-- Lista de Anécdotas -->
        <div class="anecdota-list">
            {% if anecdotas %}
                {% for anecdota in anecdotas %}
                <div class="anecdota-item">
                    <div class="anecdota-header">
                        <h3>{{ anecdota.titulo }}</h3>
                        <p><small>Escrita por {{ anecdota.id_usuario.username }} - {{ anecdota.fecha }}</small></p>
                    </div>
                    <div class="anecdota-content">
                        <p>{{ anecdota.contenido }}</p>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="no-anecdota">
                    <p>No hay anécdotas actualmente :(</p>
                </div>
            {% endif %}
        </div>
    </div>
</body>
</html>
