{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InclUred - Página de Inicio</title>
    <link rel="stylesheet" href="{% static 'inclured1/style.css' %}">
</head>
<body>
    <!-- Encabezado con navegación -->
    {% include "./componentes/Header.html" %}

    <!-- Contenido de la Página de Inicio -->
    <div class="content" id="inicio">
        <div class="section-title">Bienvenido a InclUred</div>
        <p>InclUred es un sitio dedicado a promover la inclusión y educación sobre las discapacidades. Explora nuestras secciones para aprender más sobre los distintos tipos de discapacidades, anécdotas de vida, cursos educativos y videos informativos.</p>
    </div>
</body>
</html>
