{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'inclured1/style.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'inclured1/login_register_styles.css' %}"
    />
  </head>
  <body>
    {% include "./componentes/Header.html" %}
    <main>
      <div class="form_container">
        <h2>Iniciar Sesión</h1>
        <form method="post" class="form-session">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit">Iniciar Sesión</button>
        </form>
      </div>
      {% for message in messages %}
      <p>{{ message }}</p>
      {% endfor %}
    </main>
  </body>
</html>
