<header>
  <a href="/" style="text-decoration: none">
    <div class="logo">InclUred</div>
  </a>
  <nav>
    <a href="{% url 'informacion' %}">Información</a>
    <a href="{% url 'anecdotas' %}">Anécdotas</a>
    <a href="{% url 'cursos' %}">Cursos</a>
    <a href="{% url 'videos_informativos' %}">Videos Informativos</a>
  </nav>
  <div class="user-controls">
    {% csrf_token %} {% if user.is_authenticated %}
    <form id="logout-form" method="POST" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit" id="logout-btn">Cerrar Sesion</button>
    </form>
    <div class="profile-box">
      <a href="{% url 'perfil' %}" class="user-icon"> <span>👤</span></a>
      <p>{{ user.nombre }}</p>
    </div>

    {% else %}
    <div id="reglog-btns">
      <a href="{% url 'login' %}" class="login-link">Iniciar sesión</a>
      <a href="{% url 'register' %}" class="register-link">Registrarme</a>
    </div>
    <div class="profile-box">
      <a href="{% url 'perfil' %}" class="user-icon"> <span>👤</span></a>
      <p>Invitado</p>
    </div>
    {% endif %}
  </div>
</header>
